.App-header{
    background: rgb(0, 0, 27);
}

.img{
    width: 100%;
}
.text{
    color: white;
    padding: 100px 10px;
    text-align: left;
    font-size: 60px;
}

.banner{
    padding: 100px 0;
}



@media only screen and (max-width: 1200px){
 
    .App-header{
        background: rgb(0, 0, 27);
    }
    
    .img{
        width: 100%;
    }
    .text{
        color: white;
        font-size: 40px;
        padding: 40px 0;
        text-align: left;
    }
    
    .banner{
        padding: 100px 0;
    }
    
    

    
}



@media only screen and (max-width: 960px){
 
    .App-header{
        background: rgb(0, 0, 27);
    }
    
    .img{
        width: 100%;
    }
    .text{
        color: white;
        font-size: 40px;
        padding: 40px 0;
        text-align: center;
    }
    
    .banner{
        padding: 100px 0;
    }
    

}







@media only screen and (max-width: 576px){
 
    .App-header{
        background: rgb(0, 0, 27);
    }
    
    .img{
        width: 70%;
    }
    .text{
        color: white;
        font-size: 40px;
        padding: 10px;
        text-align: center;
    }
    
    .banner{
        padding: 100px 0;
    }
        
 
}






@media only screen and (max-width: 320px){
 
    .App-header{
        background: rgb(0, 0, 27);
    }
    
    .img{
        width: 100%;
    }
    .text{
        color: white;
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }
    
    .banner{
        padding: 100px 0;
    }

    
}

